@page
@model WorkoutLogger.Pages.CreateModel
@{
    ViewData["Title"] = "Add Workout";
}

<h2 class="text-center text-decoration-underline">Add New Workout</h2>
<hr />

<div class="row justify-content-centerc col-md-6 mx-auto">

        @if (Model.ShowInvalidTimeHeader)
        {
            <div class="alert alert-danger text-center mb-2 p-2">Please enter valid start and end time!</div>
        }

    <div class="d-flex flex-column align-items-center">
        <form  method="post">
            <div class="form-group">
                <label asp-for="Workout.Date" class="col-form-label"></label>
                <input type="date" asp-for="Workout.Date" class="form-control" />
                <span asp-validation-for="Workout.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Workout.StartTime" class="col-sm-2 col-form-label"></label>
                <input type="time" asp-for="Workout.StartTime" class="form-control" />
                <span asp-validation-for="Workout.StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Workout.EndTime" class="col-sm-2 col-form-label"></label>
                <input type="time" asp-for="Workout.EndTime" class="form-control" />
                <span asp-validation-for="Workout.EndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Workout.MuscleGroup" class="col-sm-2 col-form-label"></label>
                <select asp-for="Workout.MuscleGroup" class="form-control" asp-items="Html.GetEnumSelectList<MuscleGroup>()">
                </select>
            </div>

            <hr />
            <div class="form-group d-flex flex-column gap-2 justify-content-center">
                <input type="submit" value="Add Workout" class="btn btn-success mb-2" />
                <a class="btn btn-primary" asp-page="./Index">Back To Home</a>
            </div>
        </form>
    </div>  
</div>